<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
    <ion-toolbar color="secondary">
    
      <ion-title text-center>
          <ion-text >
            <ion-text style="color:white" class="fw700"><span style="font-weight:350;">Notifications</span></ion-text>
          </ion-text>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="myBackButton()">
          <ion-icon name="close"></ion-icon>
         
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>

<ion-content padding>

</ion-content>
