<ion-header>
    <ion-toolbar text-center color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title >
          <ion-text>
            <ion-text style="margin-right: 45px;color:white" class="fw700">Interior<span style="font-weight:350;">Junction</span></ion-text>
          </ion-text>
      </ion-title>
      <ion-buttons slot="end">
        
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>

<ion-content class="fashion-listing-content">
  <ng-container >
    <ion-row class="items-row">
      <ion-col (click)="goToSub(i)" size="6" class="listing-item" *ngFor="let i of x">
        <div class="item-image-wrapper">
          <a class="image-anchor">
            <app-aspect-ratio [ratio]="{w: 3, h: 4}">
              <app-image-shell class="item-image" animation="spinner" [src]="i.icon" [alt]="'product image'"></app-image-shell>
            </app-aspect-ratio>
          </a>
        </div>
        <ion-row class="item-body">
          <ion-col size="12" class="main-info">
            <h4 class="item-name">
              <a class="name-anchor" >
                <app-text-shell animation="gradient" [data]="i.title"></app-text-shell>
              </a>
            </h4>
          </ion-col>
          <!-- <ion-col size="12">
            <ion-row class="secondary-info">
              <ion-col class="price-col">
                <span class="item-sale-price">
                    <ion-icon class="rating-icon" name="star-outline"></ion-icon>
            <ion-icon class="rating-icon" name="star-outline"></ion-icon>
            <ion-icon class="rating-icon" name="star-outline"></ion-icon>
             <ion-icon class="rating-icon" name="star-outline"></ion-icon>
             <ion-icon class="rating-icon" name="star-outline"></ion-icon>
                </span>
              </ion-col>
     
                <ion-col class="separator">
                </ion-col>
                <ion-col class="price-col">
                  <span class="item">
                    <app-text-shell animation="gradient" [data]="(i.rating)"></app-text-shell>
                  </span>
                </ion-col>
          
            </ion-row>
          </ion-col> -->
        </ion-row>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
