  <ion-header>
    <ion-toolbar text-center color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>
      <ion-title >
          <ion-text>
            <ion-text style="margin-right: 45px;color:white" class="fw700"><span style="font-weight:350;">Favorites</span></ion-text>
          </ion-text>
      </ion-title>
      <ion-buttons slot="end">
        
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>

<ion-content padding>

</ion-content>
